.header-title {
  font-family: 'Inconsolata';
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #91ffeb;
  text-align: start;
}

.header-title-mobile {
  display: none;
  font-family: 'Inconsolata';
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #91ffeb;
  text-align: start;
}

.footer-navigator {
  nav {
    ul {
      margin: 0;

      li {
        display: inline;
        padding: 0 1rem;

        a {
          font-family: 'Inconsolata';
          font-style: normal;
          font-weight: 400;
          font-size: 27px;
          line-height: 28px;
          color: #91ffeb;
          opacity: 0.5;
          transition: opacity 0.1s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .header-title {
    display: none;
  }

  .header-title-mobile {
    display: block;
  }
}

@media (max-width: 992px) {
  .user-button {
    display: none !important;
  }

  .footer-navigator {
    display: none;
  }
}
