.item {
  margin: 2rem 0rem;
  --bs-gutter-y: 1.5rem;

  &:first-child {
    margin-top: 0rem;
  }

  &:last-child {
    margin-bottom: 0rem;
  }
}

.contain {
  display: flex;
  align-items: center;
  margin-left: 3rem;

  img {
    border-radius: 10px;
  }

  span {
    padding: 0.5rem 0;
    margin-left: 1rem;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 28px;
    color: rgba(232, 255, 251, 0.53);
    border: none;
    background-color: #202f3e;
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
  }
}
