.error {
  padding: 1.5rem 1.5rem;
  background: #ff9191;
  border-radius: 20px;
  border: none;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 28px;
  color: #8f0a0a;
  outline: none;
}
