.false {
  padding: 2rem 2rem;
  background: #ff9191;
  border-radius: 20px;
  border: none;
  outline: none;

  p {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 28px;
    color: #8f0a0a;
  }
}

.true {
  padding: 2rem 2rem;
  background: #91ffeb;
  border-radius: 20px;
  border: none;
  opacity: 0.5;
  outline: none;

  p {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 28px;
    color: #91ffeb;
  }
}
